{% extends 'base.html' %}
{% block header %}
    <title>پنل مدیریت</title>
{% endblock %}
{% block body %}
    <section class="admin-dashboard-body">
        <header class="header">

            <nav>
                <div class="logo">
                    <img class="header-img" src="{{ url_for('static',filename='image/loogoo2.jpg' ) }}" alt="werco.ir">
                </div>
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
                <ul class="menu">
                    <li><a href="/">صفحه اصلی</a></li>
                    <li><a href="/about">درباره ما</a></li>
                    <li><a href="/admin/dashboard/products">محصولات</a></li>
                    <li><a href="/user/dashboard">پنل کاربری</a></li>
                    <li><a href="/admin/login">پنل مدیریت</a></li>
                    <li><a href="/user/login">ثبت نام/ ورود</a></li>
                </ul>
            </nav>

        </header>
        <section class="simple-box-admin-dashboard">

            <h1>سفارشات</h1>
            {% if carts|selectattr('status','!=','pending')|list|length > 0 %}
                <table class="cart">
                    <tr>
                        <th>شماره سفارش</th>
                        <th>وضعیت</th>
                        <th>مشاهده وضعیت</th>
                        {% for cart in carts|selectattr('status','!=','pending') %}
                            <tr>
                                <td>{{ cart.id }}</td>
                                <td>{{ cart.get_status_persion() }}</td>
                                <td><a href="{{ url_for('admin.order',id=cart.id) }}">اطلاعات بیشتر</a><br></td>
                            </tr>
                            <br>
                        {% endfor %}
                </table>
            {% else %}
                <i style="display: block; text-align: center">سفارشی وجود ندارد.</i>
            {% endif %}

        </section>

    </section>
{% endblock %}