{% extends 'base.html' %}
{% block header %}
    <title>ویرایش محصول{{ product.id }}</title>
{% endblock %}
{% block body %}
    <section style="height: 100%">


            <header class="header">

                <nav>
                    <div class="logo">
                        <img class="header-img" src="{{ url_for('static',filename='image/loogoo2.jpg' ) }}"
                             alt="werco.ir">
                    </div>
                    <input type="checkbox" id="menu-toggle">
                    <label for="menu-toggle" class="menu-icon">&#9776;</label>
                    <ul class="menu">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li><a href="/about">درباره ما</a></li>
                        <li><a href="/admin/dashboard/products">محصولات</a></li>
                        <li><a href="/user/dashboard">پنل کاربری</a></li>
                        <li><a href="/admin/login">پنل مدیریت</a></li>
                        <li><a href="/user/login">ثبت نام/ ورود</a></li>
                    </ul>
                </nav>


            </header>
            <section class="simple-box-admin-product-add" style="margin-top:100px ">
                <h1 style="padding-right:5px;color: #202771;margin-bottom: 15px ">ویرایش محصول</h1>
                <img style="width: 100px;float: right" src="/static/cover/{{ product.id }}.jpg"><br>



                <form action="#" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label></label><input type="file" name="cover"><br>
                    <label>ویدیو</label><input type="file" name="video"><br>

                    <input type="text" name="name" value="{{ product.name }}" placeholder="نام محصول"><br>
                    <textarea name="description" placeholder="توضیحات">{{ product.description }}</textarea><br>
                    <input type="number" name="price" value="{{ product.price }}" placeholder="قیمت محصول"><br>
                    <div style="display: flex ;width:400px; padding-right: 60px; font-weight: 400">
                        <label for="active" style="font-weight: 400;width: 70px;padding-top: 8px"> فعال:</label><input
                            style="width: 30px;height: 30px" id="active" value="1" type="checkbox" name="active"><br>
                    </div>
                    <input class="add-product" type="submit" value="ثبت محصول">


                </form>
            </section>
    </section>
{% endblock %}