{% extends 'base.html' %}

{% block header %}
    <title>ورود به پنل مدیریت</title>
{% endblock %}

{% block body %}

    <section class="admin-login-body">
        <header class="header">

            <nav>
                <div class="logo">
                    <img class="header-img" src="{{ url_for('static',filename='image/loogoo2.jpg' ) }}" alt="werco.ir">
                </div>
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-icon">&#9776;</label>
                <ul class="menu">
                    <li><a href="/">صفحه اصلی</a></li>
                    <li><a href="/about">درباره ما</a></li>
                    <li><a href="/user/dashboard">پنل کاربری</a></li>
                    <li><a href="/admin/login">پنل مدیریت</a></li>
                    <li><a href="/user/login">ثبت نام/ ورود</a></li>
                </ul>
            </nav>

        </header>

        <section class="simple-box-admin-login">
            <h1>پنل مدیریت</h1>
            <form action="#" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <input type="text" name="username" placeholder="نام کاربری"><br>
                <input type="password" name="password" placeholder=رمزعبور><br>
                <input type="submit" value="ورود">
            </form>
        </section>
    </section>
{% endblock %}
