{% extends 'base.html' %}
{% block header %}
    <title>صفحه محصولات</title>
{% endblock %}
{% block body %}
    <header class="header">

        <nav>
            <div class="logo">
                <img class="header-img" src="{{ url_for('static',filename='image/loogoo2.jpg' ) }}" alt="werco.ir">
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="/">صفحه اصلی</a></li>
                <li><a href="/about">درباره ما</a></li>
               <li><a href="/admin/dashboard/products">محصولات</a></li>
                <li><a href="/user/dashboard">پنل کاربری</a></li>
                <li><a href="/admin/login">پنل مدیریت</a></li>
                <li><a href="/user/login">ثبت نام/ ورود</a></li>
            </ul>
        </nav>

    </header>
    <section class="simple-box-admin-product">

        <h1 style="padding-right:30px;color: #202771;margin-bottom: 15px ">محصولات</h1>

        <table>
            <tr>

                <th class="th0">ویدیو</th>
                <th class="th1">تصویر</th>
                <th>اسم</th>
                <th class="th3">توضیحات</th>
                <th class="th4">قیمت</th>
                <th>فعال</th>
                <th>ویرایش</th>
            </tr>
            {% for p in products %}
                <tr>
                    <td class="td0"><video style="width: 30px" src="/static/video/{{ p.id }}.mp4"></video></td>
                    <td class="td1"><img style="width: 30px" src="/static/cover/{{ p.id }}.jpg"></td>
                    <td class="td2">{{ p.name }}</td>
                    <td class="td3">{{ p.description |truncate(150) }}</td>
                    <td class="td4">{{ p.price }}</td>
                    <td><img style="width:20px"
                             src="{{ url_for('static' ,filename='theme-image/done.png')if p.active == 1 else url_for('static' ,filename='theme-image/close.png') }}">
                    </td>
                    <td><a href="/admin/dashboard/edit-product/{{ p.id }}">ویرایش</a></td>

                </tr>
            {% endfor %}
        </table>
    </section>
    <section class="simple-box-admin-product-add">
        <div>
            <h1 style="padding-right:5px;color: #202771;margin-bottom: 15px ">اضافه کردن محصول جدید</h1>
            <form action="#" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <label style="float: right">تصویر:<br><br><br></label><input type="file" name="cover"><br>
                <label style="float: right">ویدیو:<br><br><br></label><input type="file" name="video"><br>
                <input type="text" name="name" placeholder="نام محصول"><br>
                <textarea name="description" placeholder="توضیحات"></textarea><br>
                <input type="number" name="price" placeholder="قیمت محصول"><br>
                <div style="display: flex ;width:400px; padding-right: 60px; font-weight: 400">
                    <label for="active" style="font-weight: 400;width: 70px;padding-top: 8px"> فعال:</label><input
                        style="width: 30px;height: 30px" id="active" value="1" type="checkbox" name="active"><br>
                </div>

                <input class="add-product" type="submit" value="ثبت محصول">


            </form>
        </div>
    </section>
{% endblock %}