<header class="header">

  <nav>
    <div class="logo">
      <img  class="header-img" src="{{ url_for('static',filename='image/loogoo2.jpg' ) }}" alt="werco.ir">
    </div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776;</label>
    <ul class="menu">
                   <li><a href="/">صفحه اصلی</a></li>
                    <li><a href="/about">درباره ما</a></li>
                    <li><a href="/cart">سبد خرید</a></li>
                    <li><a href="/user/dashboard">پنل کاربری</a></li>
                    <li><a href="/admin/login">پنل مدیریت</a></li>
                    <li><a href="/user/login">ثبت نام/ ورود</a></li>
                    <li><a href="/user/logout">خروج</a></li>
    </ul>
  </nav>

</header>
<body>
<div class="header-text">
    <h1 style=> Werco</h1>
    <h2> سازنده سایت های
        اینترنتی فروشگاهی خدماتی و شرکتی </h2>
    <p>وبسایت های کدنویسی شده اماده با اپشن ها و تم های مختلف با پشتیبانی 6 ماهه وشخصی سازی در اختیار شما
        قرار
        گرفته اند شما میتوانید از قالب های ما با قیمت کمتر و سرعت تحویل بیشتر استفاده کنید

        و یا از طریق راه های ارتباطی درپایین صفحه سفارشتون رو ثبت کنید همکاران ما در اولین فرصت با شما تماس
        خواهند گرفت </p>



</div>
 <form class="search" action="/" method="get">

        <input type="search" name="search" placeholder=" جست وجو..."
               value="{{ search if search != None }}">
        <button type="submit" class="search-btn">ارسال
        </button>
    </form>
</body>
