<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimum-scale=1.0">


    <link rel="stylesheet" href="{{ url_for('static',filename="css/eggy.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/progressbar.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="css/theme.css") }}"/>

    <link rel="stylesheet" href="{{ url_for('static',filename="css/index.css") }}">
    {% block header %}{% endblock %}
</head>
<body>


{% block body %}{% endblock %}
<script>
    const prices = document.getElementsByClassName('price')
    for (let i = 0; i < prices.length; i++) {
        let price = prices[i]
        price.innerText = parseInt(price.innerText).toLocaleString() + "  تومان"
    }
</script>
<script type="module">
    import {Eggy} from '{{ url_for('static',filename="js/eggy.js") }}';

    {% for m in get_flashed_messages() %}
        Eggy({
            title: 'اطلاعات',
            message: '{{ m }}',
            type: 'info',
            duration: '7000'

        });
    {% endfor %}
</script>
<footer>
    <section class="footer">

        <section style="max-width: 350px">
            <h3>تماس با ما</h3>

            <section class="flex linkbox" style="max-width: 250px;">
                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="tel:09338578883" style="text-decoration: none;color:black;" target="_blank"
                       title="تلفن شرکت ورکو">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/theme-image/phone.png" class="icon" alt="تلفن شرکت ورکو">
                            <h4>09338578883</h4>
                        </div>
                    </a>
                </div>

                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://telegram.me/Werco_official" style="text-decoration: none;color:black;"
                       target="_blank" title="پشتیبانی در تلگرام">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/theme-image/telegram.png" class="icon" alt="پشتیبانی در تلگرام">
                            <h4>09057983535</h4>
                        </div>
                    </a>
                </div>

                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://eitaa.com/Werco_ir" style="text-decoration: none;color:black;"
                       target="_blank" title="پشتیبانی در ایتا">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/theme-image/eitaa.png" class="icon" alt="پشتیبانی در ایتا">
                            <h4>09057983535</h4>
                        </div>
                    </a>
                </div>

                <div class="inline flex-box header-link" style="width: 170px;direction: ltr;margin-bottom: 0;">
                    <a href="https://wa.me/message/ISTO7TCXOWQFM1" style="text-decoration: none;color:black;"
                       title="واتساپ">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/theme-image/whatsapp.png" class="icon">
                            <h4>09057983535</h4>
                        </div>
                    </a>
                </div>

            </section>
        </section>
        <section style="max-width:350px;">
            <h3>لینک‌های مفید</h3>
            <section class="link-list" style="max-width: 250px;min-width: 210px;padding-right: 5px;">
                <a href="/" title="محصولات">محصولات </a>
                <a href="/user/dashboard" title="پنل کاربری">پنل کاربری</a>
                <a href="/admin/login" title="پنل مدیریت">پنل مدیریت</a>
                <a href="/about" title="درباره ما" target="_blank">درباره ما</a>
                <a style="color: red;" href="https://wa.me/message/ISTO7TCXOWQFM1" rel="nofollow" target="_blank">همکاری
                    با ما - پشتیبان برنامه نویس</a>
                <a style="color: red;" href="https://wa.me/message/ISTO7TCXOWQFM1" rel="nofollow" target="_blank">همکاری
                    با ما - طراح و دیزاینر</a>
            </section>
        </section>
        <section style="max-width: 350px">
            <h3>شبکه های اجتماعی</h3>
            <section class="flex linkbox" style="max-width: 250px;">


                <div class="inline flex-box header-link">
                    <a href="https://www.instagram.com/werco_official?igsh=MXRvYnIyaGJmZjd5MQ=="
                       style="text-decoration: none;color:black;" target="_blank" title="اینستاگرام ورکو">
                        <div class="flex2" style="padding: 5px">
                            <img src="/static/theme-image/instagram.png" class="icon" alt="اینستاگرام ورکو">
                            <h4>اینستاگرام</h4>
                        </div>
                    </a>
                </div>

                <div class="inline flex-box header-link">
                    <a href="https://www.aparat.com" style="text-decoration: none;color:black;"
                       target="_blank" title="ورکو در آپارات">
                        <div class="flex2">
                            <img src="/static/theme-image/aparat.png" class="icon" alt="ورکو در آپارات">
                            <h4>آپارات</h4>
                        </div>
                    </a>
                </div>

                <div class="inline flex-box header-link">
                    <a href="https://www.youtube.com" style="text-decoration: none;color:black;"
                       target="_blank" title="ورکو در یوتیوب">
                        <div class="flex2">
                            <img src="/static/theme-image/youtube.png" class="icon" alt="ورکو در یوتیوب">
                            <h4>یوتیوب</h4>
                        </div>
                    </a>
                </div>

                <div class="inline flex-box header-link">
                    <a href=" https://github.com/werco-ir" style="text-decoration: none;color:black;" target="_blank"
                       title="گیتهاب ورکو">
                        <div class="flex2">
                            <img src="/static/theme-image/github.png" class="icon" alt="گیتهاب ورکو">
                            <h4>گیت هاب</h4>
                        </div>
                    </a>
                </div>

            </section>
        </section>
    </section>
    <hr style="margin: 10px auto;max-width:1200px;">
    <section>
        <div style="display: flex;flex-flow: wrap;align-items: center;justify-content: center;max-width: 620px;margin: auto;">
            <img class="logo-footer" src="/static/image/logo.png" alt="werco.ir">

            <p style="max-width: 500px;font-size: 16px;text-align: justify;padding: 0 5px;">


                ورکو در هر قدم کنار شماست.<br>
                به توسعه کسب و کار آنلاین خود بیاندیشید؛ دلسوزانه از آن محافظت خواهیم کرد.
                هدف ما، تبدیل میزبانی وب به یک تجربه لذتبخش برای شما است. اطمینان داریم با هنر کار تیمی و قدرت تیم حرفه ای متخصصان ورکو، می توانیم به رویاهای شما رنگ واقعیت ببخشیم و در تمامی بلندپروازی هایتان، حامی کسب و کار آنلاین شما بمانیم.


            </p>
        </div>
    </section>
    <section id="trust-box">
        <div style="display: flex;flex-flow: wrap;align-items: center;justify-content: center;max-width: 600px;margin: auto;">
            <a referrerpolicy="origin" target="_blank"
               href="https://trustseal.enamad.ir/?id=336033&amp;Code=fbGrBijJKJKTgVv8PplEtN89EMAPJl14"><img
                    referrerpolicy="origin"
                    src="https://trustseal.enamad.ir/logo.aspx?id=336033&amp;Code=fbGrBijJKJKTgVv8PplEtN89EMAPJl14"
                    alt="" style="cursor:pointer;width:130px !important;margin:0px !important;"
                    code="fbGrBijJKJKTgVv8PplEtN89EMAPJl14"></a>
            <img referrerpolicy="origin" id="rgvjfukzwlaonbqergvjfukz"
                 style="cursor:pointer;width: 115px !important;margin:0px !important;"
                 onclick="window.open(&quot;https://logo.samandehi.ir/Verify.aspx?id=364236&amp;p=xlaogvkaaodsuiwkxlaogvka&quot;, &quot;Popup&quot;,&quot;toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30&quot;)"
                 alt="logo-samandehi"
                 src="https://logo.samandehi.ir/logo.aspx?id=364236&amp;p=qftiwlbqshwlodrfqftiwlbq">


            <script src="https://zibal.ir/trust/scripts/1.js" type="text/javascript"></script>
            <a href="javascript:viewZibalTrust();" title="پرداخت آنلاین زیبال"><img style="height: 85px"
                                                                                    src="https://zibal.ir/trust/assets/1.png"
                                                                                    border="0"
                                                                                    alt="پرداخت آنلاین زیبال"></a>
        </div>
    </section>
    <section style="text-align: center;margin-top: 20px;background: #f1f1f1;padding: 10px;">
        <h6>کلیه حقوق مادی و معنوی برای  werco محفوظ است</h6>
    </section>
</footer>
</body>
</html>




