{% extends 'base.html' %}

{% block header %}
    <title>73a4c8d3-8e5a-4909-827e-fd3e0b1574c4</title>
{% endblock %}

{% block body %}

    {% include 'part/header.html' %}

    <!-- Slideshow container -->
    <div class="slideshow">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 4</div>
            <img src="/static/image/banner1.jpg" style="width:100%">
            <div class="text1">دنبال یک سایت با کیفیت برای بیزینستی؟<BR>میخوای هزینش هم زیاد نشه؟<br>فقط کافیه با ما تماس بگیری و بگی چی میخوای</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 4</div>
            <img src="/static/image/banner2.jpg" style="width:100%">
            <div class="text2">نمیدونی کدوم قالب رو انتخاب کنی؟<br>میخوای در مورد قالب مورد نظرت اطلاعات بیشتری کسب کنی؟<br>میتونی همین الان با مشاوران ما تماس بگیری<br> و از مشاوره رایگان ما استفاده کنی!</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 4</div>
            <img src="/static/image/banner3.jpg" style="width:100%">
            <div class="text3"> میدونستی میتونی با 10% تخفیف سایتت رو بخری؟<br> فقط کافیه 3 نفر از دوستانت رو دعوت کنی از ما خرید کنن<br> و شماره پیگیریشونو برای ما تو واتساپ بفرستی<br>  تا  خریدت با تخفیف ثبت شه!!!</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 4</div>
            <img src="/static/image/banner4.jpg" style="width:100%">
            <div class="text4">با خرید سایت از ما میتونی<br> از تبلیغ 1 ماهه رایگان بیزینست تو همین سایت استفاده کنی!!</div>
        </div>
        <!-- Next and previous buttons -->
        <div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center" class="dot-box">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>

    <section class="products">
        {% for p in products %}
            {% include 'part/product.html' %}
        {% endfor %}
    </section>
    <script>
        const slideshow_items = document.getElementsByClassName('mySlides-fade')
        var next_slide = 0
        const change_slideshow = () => {
            if (next_slide > slideshow_items.length - 1)
                next_slide = 0

            if (next_slide == 0)
                slideshow_items[slideshow_items.length - 1].style.height = "0"
            else
                slideshow_items[next_slide - 1].style.height = '0'

            slideshow_items[next_slide].style.height = "500px"
            next_slide++
        }
        change_slideshow()
        setInterval(change_slideshow, 1000)
    </script>

    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

    </script>
    <script>
        const show_menu = () => {
            const element = document.getElementsByClassName('header-link-box')[0]
            element.style.transform = "translateY(0)"
        }
        const hide_menu = () => {
            const element = document.getElementsByClassName('header-link-box')[0]
            element.style.transform = "translateY(-100%)"
        }
    </script>
{% endblock %}
