{% extends 'base.html' %}

{% block header %}
    <title>پنل کاربری</title>
{% endblock %}

{% block body %}
    <section class="user-dashboard-body">
        <nav class="user-dashboard-header">
            <img src="{{ url_for('static',filename='image/loogoo.jpg' ) }}" alt="werco.ir">

            <ul>
                <li><a href="/">صفحه اصلی</a></li>
                <li><a href="/about">درباره ما</a></li>
                <li><a href="/cart">سبد خرید</a></li>
                <li><a href="/user/dashboard">پنل کاربری</a></li>
                <Li><a href="/user/logout" class="red-btn">خروج از حساب کاربری</a></Li>
            </ul>

        </nav>
        <section class="simple-box-user-dashboard">

            <h1>سفارشات</h1>
        {% if current_user.carts|selectattr('status','!=','pending')|list|length > 0 %}
            <table class="cart">
                <tr>
                    <th>شماره سفارش</th>
                    <th>وضعیت</th>
                    <th>مشاهده وضعیت</th>
                    {% for cart in current_user.carts|selectattr('status','!=','pending') %}
                        <tr>
                            <td>{{ cart.id }}</td>
                            <td>{{ cart.get_status_persion() }}</td>
                            <td><a href="{{ url_for('user.order',id=cart.id) }}">جزئیات</a></td>
                        </tr>
                        <br>
                    {% endfor %}
            </table>
        {% else %}
        <i style="display: block; text-align: center">سفارشی وجود ندارد.</i>
        {% endif %}

        </section>
        <section class="simple-box-edit">
            <h1>  ویرایش اطلاعات </h1>
                <form action="#" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="text" name="username" value="{{ current_user.username }}" placeholder="نام کاربری">
                    <input type="password" name="password" placeholder="رمز عبور جدید">
                    <input type="email" name="email" value="{{ current_user.email }}" placeholder="ایمیل">
                    <input type="number" name="phone" value="{{ current_user.phone }}" placeholder="شماره موبایل">
                    <textarea  name="address" type="text" placeholder="ادرس پستی">{{ current_user.address }} </textarea>
                    <input type="submit" value=" ثبت تغییرات">
                </form>
        </section>

    </section>
{% endblock %}
