{% extends 'base.html' %}

{% block header %}
    <title>ورود/ثبت نام کاربران</title>
{% endblock %}

{% block body %}


    {% for m in get_flashed_messages() %}
        {{ m }}
    {% endfor %}


    <h1>user/login</h1>
    <form action="#" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder=password><br>

        <input type="submit">
    </form>


    <h1>user/register</h1>
    <form action="#" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="register" value="1">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder=password><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="number" name="phone" placeholder="phone"><br>
        <input type="text" name="address" placeholder="address"><br>
        <input type="submit">
    </form>



{% endblock %}
